<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YEDC Permanent Staff ID Card - {{ emp_id }}</title>
    <style>
        @page {
            size: 54mm 86mm;
            margin: 0mm;
        }
        body {
            width: 54mm;
            height: 86mm;
            margin: 0;
            padding: 0;
            font-family: 'Helvetica', 'Arial', sans-serif;
            background-color: #ffffff;
            color: #102a5c;
        }
        table {
            border-collapse: collapse;
            margin: 0;
            padding: 0;
        }
        td {
            padding: 0;
            margin: 0;
            vertical-align: top;
        }
        .page-break {
            page-break-before: always;
        }
    </style>
</head>
<body>

<!-- ================= PAGE 1: FRONT ================= -->
<table width="54mm" height="86mm" style="width: 54mm; height: 86mm; background-color: #ffffff;">
    <!-- Top Orange Accent Bar -->
    <tr>
        <td height="4mm" style="background-color: #f96302; height: 4mm;"></td>
    </tr>

    <!-- Header Logo & Title -->
    <tr>
        <td style="padding: 2.5mm 2mm 1mm 2mm;">
            <table width="100%">
                <tr>
                    <td width="10mm" style="vertical-align: middle;">
                        {% if logo_path %}<img src="{{ logo_path }}" width="10mm" style="max-height: 8mm;">{% endif %}
                    </td>
                    <td style="vertical-align: middle; padding-left: 1.5mm;">
                        <div style="font-size: 7.5pt; font-weight: bold; color: #102a5c; line-height: 1.1;">Yola Electricity<br>Distribution Company</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- Photo Container -->
    <tr>
        <td align="center" style="text-align: center; padding: 1mm 0;">
            <table align="center" style="margin: 0 auto; border: 1.5mm solid #1e4587; background-color: #f8fafc;">
                <tr>
                    <td>
                        <img src="{{ photo_path }}" width="26mm" height="32mm" style="width: 26mm; height: 32mm;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- Staff Details -->
    <tr>
        <td align="center" style="text-align: center; padding: 1mm 2mm 0mm 2mm;">
            <div style="font-size: 10pt; font-weight: bold; color: #102a5c;">{{ full_name }}</div>
            {% if department and department != "N/A" %}
            <div style="background-color: #102a5c; color: #ffffff; font-size: 6.5pt; font-weight: bold; padding: 1.2mm 3.5mm; margin-top: 1mm; display: inline-block;">{{ department }}</div>
            {% else %}
            <div style="background-color: #102a5c; color: #ffffff; font-size: 6.5pt; font-weight: bold; padding: 1.2mm 3.5mm; margin-top: 1mm; display: inline-block;">{{ designation }}</div>
            {% endif %}
        </td>
    </tr>

    <!-- ID & Signature Table -->
    <tr>
        <td align="center" style="padding: 1.5mm 3mm;">
            <table width="48mm" style="width: 48mm; margin: 0 auto;">
                <tr>
                    <td width="18mm" style="font-size: 7.5pt; font-weight: bold; color: #102a5c; text-align: left;">ID No</td>
                    <td style="font-size: 7.5pt; font-weight: bold; color: #102a5c; text-align: left;">: {{ emp_id }}</td>
                </tr>
                <tr>
                    <td style="font-size: 7.5pt; font-weight: bold; color: #102a5c; text-align: left; padding-top: 1mm;">Holder's Sign</td>
                    <td style="text-align: left; padding-top: 1mm;">
                        <img src="{{ signature_path }}" height="6mm" style="max-height: 6mm; max-width: 22mm;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- QR Code -->
    <tr>
        <td align="center" style="text-align: center; vertical-align: middle; padding-bottom: 2mm;">
            <img src="{{ qr_path }}" width="13mm" height="13mm" style="width: 13mm; height: 13mm;">
        </td>
    </tr>

    <!-- Bottom Graphic Banner -->
    <tr>
        <td height="3mm" style="background-color: #102a5c; height: 3mm;"></td>
    </tr>
</table>

<div class="page-break"></div>

<!-- ================= PAGE 2: BACK ================= -->
<table width="54mm" height="86mm" style="width: 54mm; height: 86mm; background-color: #ffffff;">
    <!-- Top Orange Accent Bar -->
    <tr>
        <td height="4mm" style="background-color: #f96302; height: 4mm;"></td>
    </tr>

    <!-- Back Page Content -->
    <tr>
        <td style="padding: 4mm 3mm 2mm 3mm; vertical-align: top;">
            <div style="font-size: 8.5pt; font-weight: bold; color: #102a5c; line-height: 1.25; margin-bottom: 4mm;">
                This is to certify that the bearer whose name, photograph and signature appear overleaf is a staff of
            </div>

            <table width="100%" style="margin-bottom: 4mm;">
                <tr>
                    <td width="10mm" style="vertical-align: middle;">
                        {% if logo_path %}<img src="{{ logo_path }}" width="10mm" style="max-height: 8mm;">{% endif %}
                    </td>
                    <td style="vertical-align: middle; padding-left: 1.5mm;">
                        <div style="font-size: 8.5pt; font-weight: bold; color: #102a5c; line-height: 1.1;">Yola Electricity<br>Distribution Company</div>
                    </td>
                </tr>
            </table>

            <div style="font-size: 8.5pt; font-weight: bold; color: #102a5c; margin-bottom: 1mm;">If found, Please return to</div>
            <div style="font-size: 8pt; color: #102a5c; line-height: 1.2; margin-bottom: 6mm;">
                2, Atiku Abubakar Road, Jimeta-Yola<br>
                Adamawa State Nigeria
            </div>

            <!-- Authorised Signature Block -->
            <table width="48mm" style="width: 48mm; margin: 0 auto; text-align: center;">
                <tr>
                    <td align="center">
                        {% if auth_sig_path %}<img src="{{ auth_sig_path }}" width="38mm" style="max-height: 10mm;">{% endif %}
                    </td>
                </tr>
                <tr>
                    <td height="0.5mm" style="background-color: #102a5c; height: 0.5mm;"></td>
                </tr>
                <tr>
                    <td style="font-size: 7.5pt; font-weight: bold; color: #102a5c; padding-top: 1mm; text-transform: uppercase;">
                        AUTHORISED SIGNATURE
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- Bottom Graphic Banner -->
    <tr>
        <td height="3mm" style="background-color: #102a5c; height: 3mm;"></td>
    </tr>
</table>

</body>
</html>
